<html>
<head>
    <title>CricTrack</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<header>
    <div class="logo">
        <h2>Cric Track</h2>
    </div>

    <nav>
        <ul class="nav_links">
            <li><a href="#">About</a></li>
            <li><a href="#">How</a></li>
            <li><a href="#">Services</a></li>
        </ul>
    </nav>

    <a class="ct" href="/signup"><button>Sign Up</button></a>
    <a class="cta" href="/login"><button>Login</button></a>
</header>

<div class="b1">
    <h1>Track Your Cricket Stats Like a Pro</h1>
    <p>
        CricTrack helps players and teams record,
        analyze, and improve their game.
    </p>

    <div class="button-wrapper">
        <a href="/signup"><button>Get started</button></a>
    </div>
</div>
</body>
</html>
