<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="sidebar">
  <h3>Cric Track</h3>

  <a href="/c">Home</a>
  <a href="/b">New Player</a>

  <% if (typeof user !== "undefined") { %>
    <a href="/d/<%= user._id %>">Profile</a>
    <a href="/stats/<%= user._id %>">Stats</a>
  <% } %>

</div>
    <h1>hello</h1>
   
</body>
</html>