@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=clash-display@600&display=swap');


*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    
}

li, a, button{
    font-family:"Montserrat",sans-serif;
    font-weight:500px;
    font-size:16px;
    color:#edf0f1;
    text-decoration: none;
}

header{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding:30px 10%;
}

.cta button {
   padding: 1em 2em;
   /*background-color: rgba(22, 26, 32, 0.3); /* semi-transparent */
   background-color: transparent;
   border: none;
   color: #f0f0f0;
   border-radius: 1000px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 20px;
}

.cta button::after {
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, lightgray , gray);
    z-index: -1;
}

.cta button:hover {
    z-index: 0;
    box-shadow: 40px 0 100px rgb(171, 156, 156), -40px 0 100px rgb(100, 100, 83);
}
body{
    background-color:#0b0d10;


    font-family:Arial,helvetica,sans-serif;
    font-size:16px;
    font-weight:normal;
    /* Same as above*/
    font:normal 16px Arial,Helvetica,sans-serif;

    /* for space in between lunes*/
    line-height:1.6em;
   
}


a:hover{
    color:red
}
a:active{
    color:green;
}
a:visited{
 
}
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
.logo {
    display:flex;
    justify-content:flex-end;
    font-family: Clash Display;
    color:rgb(255, 250, 250);
    margin-right: auto;
    


    height: auto;      /* fix logo height */
    width: auto;  
    cursor:pointer;
    position: relative;
    background-color:transparent ;


}


.logo:hover{
    z-index: index 0;
    box-shadow:40px 0 100px rgb(172, 161, 161), -40px 0 100px rgb(99, 22, 22);
}


.nav_links{
    list-style:none;
}

.nav_links li{
    display:inline-block;
    padding:0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;

    
}

.nav_links li a:hover{
    color:#cc6277;

}
.b1 h1{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px 10%;
    font-family:"Clash Display",sans-serif;
    color:e4f2eb;
    font:bold;
    

}
.b1 p{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px 10%;
    font-family:"Clash Display",sans-serif;
    color:e4f2eb;
    font:bold;
    margin-bottom:40px;
    margin-bottom: 40px ;
  

}
.b1 button {
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 9px 25px;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
    
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.b1 button {
    padding: 9px 25px;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
}



.b1 button:hover {
    background-color: #45a049;
}


.ct button{
   padding:1em 2em;
   background-color: #161a20 ;
   border:none;
   color:#f0f0f0;
   border-radius:1000px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   position: relative;

   display:flex;
   justify-content: center;
   align-items:center;
}
.ct button::after{
    content:'';
    position:absolute;
    height:107%;
    width:105%;
    border-radius:1000px;
    background-image: linear-gradient(to bottom right,red,yellow);
    z-index:-1;

}
.ct button:hover{
    z-index: index 0;
    box-shadow:40px 0 100px red, -40px 0 100px yellow;
}


.clr{
    clear:both;
}

.box-1{
    background-color:#333;
    color:#fff;
    border-right:5px red solid;
    border-left:5px red solid;
    border-top:5px red solid;
    border-bottom:5px red solid;
    /* Same as top */
    border:5px red solid;
    border-width:3px;
    border-bottom-width:10px;
    border-top-style:dotted;
    border:5px red solid;
/* You can do sepratly for padding like top bottom right left */
    padding:20px;
    margin:20px 0;
}

.box-1 h1{
    font-family:Tahoma;
    font-weight:800;
    font-style:italic;
    text-decoration:underline;
    text-transform:uppercase;
    Letter-spacing:0.2em;
    word-spacing:1em;
}

.box-2{
    border:3px dotted #ccc;
    padding:20px;
    margin:20px 0;
}

.categories{
    border:1px #ccc solid;
    padding:10px;
    border-radius:15px;

}
.categories h2{
    text-align:center;
    

}






.my-form{
    padding:20px;


}
.my-form .form-group{
    padding-bottom:15px;
}
.my-form label{
    display: block;
}
.my-form input[type="text"] ,.my-form textarea{
    padding:8px;
    width:100%;
    height: 100px;
}
.block{
    float:left;
    width:33.3%;
    border:1px solid #ccc;
    box-sizing:border-box;
}
#main-block{
    float:left;
    width:70%
}
#sidebar{
    float:right;
    width:30%;
    background-color:#333;
    color:#fff;
    padding:15px;
    box-sizing:border-box;
}

.p-box{
    width:800px;
    height:500px;
    border:1px solid #000;
    margin-top:30px;
    position:relative;
    background-image:url('../images/rndm.img');
    background-repeat: no-repeat;
    background-position:100px 200px;
    background-position:center center;

}

.p-box h1{
    position:absolute;
    top:40px


}